<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Interface Homepage</title>
</head>

<body>

    <h1>User Interface Homepage</h1>

    <nav>
        <ul>
            <li>
                <a href="/ui/package">Package</a>
            </li>
            <li><a href="/ui/packages">List of all packages</a></li>
            <li><a href="/ui/reset/">Reset</a></li>
            <li><a href="/ui/download/">Download</a></li>
        </ul>
    </nav>

    <p>This is the user interface homepage. Click on any of the hyperlinks above to navigate to the respective
        webpage.</p>

</body>

</html>